
@{
    Layout = "~/Areas/Clint/Views/Shared/ClientLayout.cshtml";
}
<link href="/css/style_grid.css" rel="stylesheet" />
<div style="width:100%;min-height:550px;vertical-align:top;">
    <div class="row r">
        <div class="col-md-12" >
           <h3>Welcome to Vardaan Cab Booking System</h3>
        </div>
    </div>
    <div class="agile_top_w3_grids">
        <ul class="ca-menu">

            <li>
                <a href="/Clint/CabBooking/Index">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h3 class="ca-sub">Dashboard</h3>
                    </div>
                </a>
            </li>


            <li>
                <a href="/Clint/CabBooking/CabBook">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h3 class="ca-sub">Create Booking</h3>
                    </div>
                </a>
            </li>

            <li>
                <a href="/Clint/CabBooking/PendingBooking">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h3 class="ca-sub">Pending Booking</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="/Clint/CabBooking/ShowBooking">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h3 class="ca-sub">All Booking</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="/Clint/CabBooking/TaxInvoceList">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h3 class="ca-sub">Tax Invoice</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
