body,table{
    font-size:15px;
     font-family: Verdana, Geneva, sans-serif;
}

#main{
   min-height: 1100px;
    width: 1000px;
    margin:auto;
    border:1px solid black;
    
}
#tbl1 {
    border: 1px solid;
    border-collapse: collapse;
}

#tbl1 th,#tbl1 td {
     border-left: 1px solid black;
    border-right: 1px solid black;
    padding:4px 6px;
}

#tbl1 th:nth-child(1){
    width:17%;
}
#tbl1 td:nth-child(2){
    width:32%;
}
#tbl1 th:nth-child(3){
    width:17%;
}

#tbl2 {
    border-collapse: collapse;
}

#tbl2 th,#tbl2 td {
        border: 1px solid;

    padding:5px 6px;
}

#tbl3 {
      border: 1px solid;
    border-top: none;
     border-collapse: collapse;
}

#tbl3 th,#tbl3 td {
        /*border: 1px solid;*/
      border:none;
        padding:5px 6px;
}


th{
    width:15%;
    text-align:left;
}
div{
}

p{
    line-height:1.4em;
    padding-left:5px;
}
  #lgo{
       height: 95%;
    width: 89%;
    padding: 2% 5%;
    }

 

@media print{
   .no-print{
       display:none;
   }
}

table {
  border-collapse: collapse;
  width:98%;
  margin:auto;
}


#inner1{
   width:98%;
   margin:auto;
   height:170px;
   margin-top:1%;
}

#inner1_1{
    height:100%;
    width:78%;
    float:left;
    border:1px solid black;
}

#inner1_2{
    height:100%;
    width:20.5%;
    float:left;
    border:1px solid black;
    border-left:none;
}
#inner2{
        width: 99.8%;
    margin: auto;
    min-height: 96px;
    margin-top: 1%;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding-left: 4px;

}

#inner2>p{
    line-height:23px;
}

#inner3{
    width:100%;
   margin:auto;
   min-height:119px;
   margin-top:5px;
}

#inner4{
    width:100%;
   margin:auto;
   height:150px;
}

#inner5{
    width:100%;
   margin:auto;
   height:180px;
    margin-top:1%;
    border-top:1px solid;
    border-bottom:none;
}

#inner5_1{
   
    width: 98%;
    height: 17%;
    border: 1px solid #555555;
    margin:auto;
    margin-top:1%;
}
#inner5_1>span{
    padding: 0px 5px;
    line-height: 24px;
}
#inner5_2{
    width: 98%;
    height: 70%;
    margin:auto;
        border: 1px solid #555555;
       margin-top: 0.8%;
       line-height:24px;
}

#inner6{
    width:98%;
   margin:auto;
   height:150px;
   margin-top:1%;
}


#inner6_1{
width:99.5%;
margin-top:0.1%;
height:20%;
border-top:1px solid #555555;
border-bottom:1px solid black;
padding:3px 2px;
}

#inner6_2{
width:99.5%;
height:20%;
margin-top:0.1%;
border-bottom:1px solid black;
padding:3px 2px;
}

#inner6_3{
width:99%;
margin-top:0.1%;
height:20%;
padding:3px 2px;
}

 #inner6_4{
width:99%;
height:25%;
margin-top:0.2%;
padding:3px 2px;
}

 .btnPdf {
        background-color:#26bcc1;
        border: none;
        color: white;
        padding: 3px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        /*margin: 4px 2px;*/
        cursor: pointer;
        border-radius: 1px;
    }

    .btnEmail {
        background-color: #26bcc1;
        border: none;
        color: white;
        padding: 3px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        /*margin: 4px 2px;*/
        cursor: pointer;
        border-radius: 3px;
        box-shadow: 3px 3px #82a183;
    }