<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpUser" value="reservation@vardaanrentacar.com" />
    <add key="smtpPass" value="booking@54321" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <customErrors mode="Off" />
    <!--<customErrors mode="On" defaultRedirect="/Error/Error">
      <error statusCode="404" redirect="/Error/NotFound"/>
    </customErrors>-->
    <sessionState mode="InProc" timeout="60" />
    <authentication mode="Forms">
      <forms loginUrl="/Admin/Login" slidingExpiration="true" timeout="60" />
    </authentication>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="500" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="Vardaan_AdminEntities" connectionString="metadata=res://*/Models.Domain.Model1.csdl|res://*/Models.Domain.Model1.ssdl|res://*/Models.Domain.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HI3AHFT\SQLEXPRESS01;initial catalog=VardaanCab;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Vardaan_AdminEntities" connectionString="metadata=res://*/Models.Domain.Model1.csdl|res://*/Models.Domain.Model1.ssdl|res://*/Models.Domain.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HI3AHFT\SQLEXPRESS;initial catalog=VardaanCab;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Vardaan_AdminEntities" connectionString="metadata=res://*/Models.Domain.Model1.csdl|res://*/Models.Domain.Model1.ssdl|res://*/Models.Domain.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HI3AHFT\SQLEXPRESS01;initial catalog=VardaanCabOct24;user id=aduser;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add NAME="Vardaan_AdminEntities" CONNECTIONSTRING="METADATA=RES://*/MODELS.DOMAIN.MODEL1.CSDL|RES://*/MODELS.DOMAIN.MODEL1.SSDL|RES://*/MODELS.DOMAIN.MODEL1.MSL;PROVIDER=SYSTEM.DATA.SQLCLIENT;PROVIDER CONNECTION STRING=DATA SOURCE=DESKTOP-HI3AHFT\SQLEXPRESS;INITIAL CATALOG=VARDAANCAB15MAY2023;USER ID=ADUSER;PASSWORD=123456;MULTIPLEACTIVERESULTSETS=TRUE;APP=ENTITYFRAMEWORK;" PROVIDERNAME="SYSTEM.DATA.ENTITYCLIENT" />-->
    <!--  server string new -->
    <!--<add name="Vardaan_AdminEntities" connectionString="metadata=res://*/Models.Domain.Model1.csdl|res://*/Models.Domain.Model1.ssdl|res://*/Models.Domain.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.143.46.73;initial catalog=VardaanCab;user id=newVardaan;password=ndinfo@12345#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="VardaanCabOct24Entities" connectionString="metadata=res://*/Models.Domain.Vardaan_AdminEntities.csdl|res://*/Models.Domain.Vardaan_AdminEntities.ssdl|res://*/Models.Domain.Vardaan_AdminEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SGH6TUS;initial catalog=VardaanCabOct24;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Vardaan_AdminEntities" connectionString="metadata=res://*/Models.Domain.Model1.csdl|res://*/Models.Domain.Model1.ssdl|res://*/Models.Domain.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SGH6TUS;initial catalog=VardaanCabOct24;integrated security=True;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Vardaan_AdminEntities" connectionString="metadata=res://*/DataLayer.Model1.csdl|res://*/DataLayer.Model1.ssdl|res://*/DataLayer.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.154.184.118;initial catalog=Vardaan_Admin;user id=Vardaan_Admin;password=Vardaan@12345#;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>