
@{
    ViewBag.Title = "CreateRequest";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AD-HOC Request</h5>
                        </div>
                        <div class="card-body">
                            <form class="theme-form mega-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label-title ">Request Type</label>
                                                <select name="requestType" id="requestType" class="form-control">
                                                    <option value="">--Select Request Type--</option>
                                                    <option value="SELF">SELF</option>
                                                    <option value="EMPLOYEE">EMPLOYEE</option>
                                                    <option value="GUEST">GUEST</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label-title ">Select Company</label>
                                                <select id="genderFacility" class="form-control js-example-basic-single col-sm-12">
                                                    <option value="">--Select Facility--</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label-title ">Employee Id</label>
                                                <input id="employeeId" class="form-control" type="text" placeholder="Employee Id">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label-title ">First Name</label>
                                                <input id="firstName" class="form-control" type="text" placeholder="Employee First Name" disabled>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label-title ">Last Name</label>
                                                <input id="lastName" class="form-control" type="text" placeholder="Employee Last Name" disabled>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label-title ">Gender</label>
                                                <select id="gender"
                                                        class="form-control js-example-basic-single col-sm-12" disabled>
                                                    <option value="">--Select Gender--</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>



                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label-title ">Email</label>
                                                <input id="email" class="form-control" type="text" placeholder="Employee Email" disabled>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label-title ">Guest Contact Number With Country Code</label>
                                                <input id="guestContact" class="form-control" type="text" placeholder="eg.919999999999" disabled>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Unit (ASPL/AZTEC)</label>
                                                    <select id="unit" class="form-control">
                                                        <option value="aspl">ASPL</option>
                                                        <option value="aztec">AZTEC</option>
                                                    </select>
                                                </div>
                                                </div>
                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Department</label>
                                                    <input type="text" id="department" class="form-control" placeholder="Enter Department">
                                                </div>

                                                    
                                                </div>
                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Cost Centre</label>
                                                    <input class="form-control" type="text" placeholder="Cost Centre">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Expence Code</label>
                                                    <input class="form-control" type="text" placeholder="Expence Code">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Requestor Emp ID</label>
                                                    <input class="form-control" type="text" placeholder="Requestor Emp ID">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Requestor Name</label>
                                                    <input class="form-control" type="text" placeholder="Requestor Name">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Requestor Contact Numbers Comma Separated</label>
                                                    <input class="form-control" type="text" placeholder="Eg.919811172193,919999999999">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Date of Booking Received</label>
                                                    <div class="input-group date" id="dt-date"
                                                         data-target-input="nearest">
                                                        <div class="input-group">
                                                            <input class="datepicker-here form-control digits" placeholder="Date of Booking Received"
                                                                   type="text" data-language="en" data-target="#dt-date">

                                                            <div class="input-group-text" data-target="#dt-date"
                                                                 data-toggle="datetimepicker">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Request Trip Type</label>
                                                    <select id="tripType" class="form-control">
                                                        <option value="">Select Trip Type</option>
                                                        <option value="single">Single</option>
                                                        <option value="round">Round</option>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="guestpart">
                                                    <label class="form-label-title ">Destination Request Method</label>
                                                    <select class="form-control" disabled>
                                                        <option value="Single">Single</option>
                                                        <option value="Multiple">Multiple</option>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="guestpart">
                                                            <label class="form-label-title ">Location Types</label>
                                                            <select id="locationType" class="form-control">
                                                                <option value="">Select Location Type</option>
                                                                <option value="Multiple Location">Multiple Location</option>
                                                                <option value="Single Location">Single Location</option>
                                                            </select>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="form-label-title ">Start Request Date</label>
                                                    <div class="input-group date" id="dt-date"
                                                         data-target-input="nearest">
                                                        <div class="input-group">
                                                            <input class="datepicker-here form-control digits" placeholder="Start Request Date"
                                                                   type="text" data-language="en" data-target="#dt-date">

                                                            <div class="input-group-text" data-target="#dt-date"
                                                                 data-toggle="datetimepicker">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="form-label-title ">End Request Date</label>
                                                    <div class="input-group date" id="dt-date"
                                                         data-target-input="nearest">
                                                        <div class="input-group">
                                                            <input class="datepicker-here form-control digits" placeholder="End Request Date"
                                                                   type="text" data-language="en" data-target="#dt-date">

                                                            <div class="input-group-text" data-target="#dt-date"
                                                                 data-toggle="datetimepicker">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label class="form-label-title ">Trip Type</label>
                                                        <select id="shiftType" class="form-control">
                                                            <option value="">--Select Trip Type--</option>
                                                            <option value="morning">Morning</option>
                                                            <option value="evening">Evening</option>
                                                            <option value="night">Night</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="form-label-title ">Shift Type</label>
                                                        <select id="shiftType" class="form-control">
                                                            <option value="">--Select Shift Type--</option>
                                                            <option value="morning">Morning</option>
                                                            <option value="evening">Evening</option>
                                                            <option value="night">Night</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div id="pickupLocation">
                                                        <label class="form-label-title">Pickup Location</label>
                                                        <div class="input-group">
                                                            <select class="form-control">
                                                                <option value="">--Select Pickup Location--</option>
                                                                <option value="sector1">Sector 1</option>
                                                                <option value="sector2">Sector 2</option>
                                                                <option value="sector3">Sector 3</option>
                                                            </select>
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#geoLocationModal">
                                                                <i class="fa fa-location-arrow text-primary"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div id="dropLocation">
                                                        <label class="form-label-title">Drop Location</label>
                                                        <div class="input-group">
                                                            <select id="dropLocation" class="form-control">
                                                                <option value="">--Select Drop Location--</option>
                                                                <option value="sector1">Sector 1</option>
                                                                <option value="sector2">Sector 2</option>
                                                                <option value="sector3">Sector 3</option>
                                                            </select>
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#geoLocationModal">
                                                                <i class="fa fa-location-arrow text-primary"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-end">
                            <button type="button" class="btn btn-primary">Create New Request</button>
                            <button type="reset" class="btn btn-outline-primary">Reset</button>
                        </div>

                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal Popup -->
 
<div class="modal fade" id="geoLocationModal" tabindex="-1" aria-labelledby="geoLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="geoLocationModalLabel">
                    <i class="fa fa-pencil"></i> Add Geo Location Name
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              
            <div class="modal-body">
                <div class="row mb-3">
                    
                    <div class="col-md-6">
                        <label for="searchLocation" class="form-label">Search</label>
                        <div class="input-group">
                            <input type="text" id="searchLocation" class="form-control" placeholder="Location">
                            <button class="btn btn-secondary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <label for="geocodeAddress" class="form-label">Geocode Address</label>
                        <textarea id="geocodeAddress" class="form-control" rows="1" placeholder="Address"></textarea>
                    </div>
                </div>

                
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="locationName" class="form-label">Location Name</label>
                        <input type="text" id="locationName" class="form-control" placeholder="Enter Area Name">
                    </div>
                </div>

                <!-- Map -->
                <div class="row">
                    <div class="col-md-12">
                        <div id="map" style="width: 100%; height: 300px; border: 1px solid #ddd;"></div>
                    </div>
                </div>
            </div>
             
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success">Save Location</button>
            </div>
        </div>
    </div>
</div>
 
<script>
    document.addEventListener("DOMContentLoaded", function () {
        
        const requestType = document.querySelector('[name="requestType"]');
        const pickupLocation = document.querySelector('#pickupLocation');
        const dropLocation = document.querySelector('#dropLocation');
        const destinationRequestMethod = document.querySelector('#destinationRequestMethod');
        const employeeId = document.querySelector('#employeeId');
        const gender = document.querySelector('#gender');
        const firstName = document.querySelector('#firstName');
        const lastName = document.querySelector('#lastName');
        const email = document.querySelector('#email');
        const guestContact = document.querySelector('#guestContact');
        const guestparts = document.querySelectorAll('.guestpart');


        
        function handleRequestTypeChange() {
            const value = requestType.value;

            if (value === "GUEST") {
                guestparts.forEach(part => {
                    part.parentElement.style.display = "block";
                });
                pickupLocation.parentElement.style.display = "none";
                dropLocation.parentElement.style.display = "none";
            }
            else if (value === "SELF" || value === "") {
                employeeId.disabled = true;  
                guestparts.forEach(part => {
                    part.parentElement.style.display = "none";
                });
                resetEmployeeDetails();  
            }
            else {
                guestpart.parentElement.style.display = "none";
                pickupLocation.parentElement.style.display = "block";
                dropLocation.parentElement.style.display = "block";
                employeeId.disabled = false;   
                resetEmployeeDetails(); 
            }
        }

        
        function resetEmployeeDetails() {
            employeeId.value = "";
            firstName.value = "";
            lastName.value = "";
            gender.value = "";
            email.value = "";
            guestContact.value = "";
            $("#gender").css("pointer-events", "auto");
            $("#gender").css("background-color", "");   
        }

        // 
        function handleEmployeeIdChange() {
            const value = employeeId.value.trim();
            const disable = value !== "";
            firstName.disabled = disable;
            lastName.disabled = disable;
            $("#gender").css("pointer-events", "none");
            $("#gender").css("background-color", "#e9ecef");

            email.disabled = disable;
            guestContact.disabled = disable;
        }

        
        requestType.addEventListener("change", handleRequestTypeChange);
        employeeId.addEventListener("input", handleEmployeeIdChange);

        
        handleRequestTypeChange();
    });
</script>

<script>
    $(document).ready(function () {
        $('#employeeId').on('keyup', function () {
            var id = $(this).val();
            if (id) {
                $.ajax({
                    url: '@Url.Action("GetEmployeeDetails", "ETS")',
                    type: 'GET',
                    data: { id: id },
                    success: function (response) {
                        if (response) {
                            $('#firstName').val(response.firstName);
                            $('#lastName').val(response.lastName);
                            $('#gender').val(response.gender);
                            $('#email').val(response.email);
                            $('#guestContact').val(response.guestContactNumber);
                        } else {
                            alert('Employee not found');
                        }
                    },
                    error: function () {
                        console.log('Error fetching employee details');
                    }
                });
            }
        });
    });
</script>


<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 28.6139, lng: 77.209 },
            zoom: 10,
        });
        const marker = new google.maps.Marker({
            position: { lat: 28.6139, lng: 77.209 },
            map: map,
        });
    }
</script>
<script async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrbWFXlOYpaq51wteSyFS2UjdMPOWBlQw&callback=initMap&libraries=places&callback=initAutocomplete"></script>

 

