@{
    Layout = null;
}
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<div style="width:50%;margin:auto">
    <div class="row">
        <div class="col-lg-4" style="height:120px;border:1px solid">
            1
        </div>

        <div class="col-lg-4" style="height:120px;border:1px solid">
            2
        </div>

        <div class="col-lg-4" style="height:120px;border:1px solid">
            3
        </div>

      
    </div>
</div>