@model VardaanCab.Controllers.MyController.M
@{
    ViewBag.Title = "ck";
    Layout = null;
}

<h2>ck</h2>


@using (Html.BeginForm())
{
    <div style="">
        A @Html.CheckBox("Subjects", new { Value = "A" })  <br />
        B @Html.CheckBox("Subjects", new { Value = "B" })  <br />
        c @Html.CheckBox("Subjects", new { Value="C"})  <br />
        <input type="submit" value="submit" />
    </div>
}
