
@{
    Layout = null;
   
}

<!DOCTYPE html>

<div>
    Todays Date : @DateTime.Now
    <div style="width:595px;height:800px;border:1px solid;margin:auto">
        <div class="d5">
            <div class="d5_1">
                <p>
                    <b>Guest Name -</b> MR. ASHOK GUPTA <br>
                    <b>Pickup Address :</b>Flat no: 606, TOWER-H, PRATEEK VISTERIA SOCIETY , SECTOR-77, NOIDA<br>

                    <b>Drop Address :</b>VASANT KUNJ DELHI AND BACK ( VEHICLE MAY BE RELIEVED TILL 18:00 HRS APPROXIMATELY SAME DAY)<br>

                    <b>Visited Place :</b><br>

                </p>
            </div>
            <div class="d5_2">
                <b>Duty Date : </b> 03/03/2020
            </div>
            <div style="clear:both"></div>

        </div>
    </div>
</div>


<style>



    .d5 {
        min-height: 123px;
        width: 100%;
        border: 1px solid;
    }
    .d5_1{
   float:left;
   height:100%;
   width:70%;
   padding-top:2px !important;

}

.d5_2{
   float:left;
   height:100%;
   width:29.8%;
    text-align:right;
    padding-top:2px!important;
}


</style>