@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <!-- Meta tag Keywords -->
    <link rel="stylesheet" href="/notfound/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    @*<link href="//fonts.googleapis.com/css?family=Slabo+27px&amp;subset=latin-ext" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">*@
</head>
<body>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="main">
        <h1>Oops !</h1>
        <p>
            Sorry for inconvenience.<br/> We are trying to fix it soon.
        </p>
        <button type="button"><a href="@ViewBag.path">Reload</a></button>
        <div class="copyright">

        </div>
    </div>
</body>
</html>

