
<div class="row">
    <div class="col-md-12 footer-copyright text-center">

        <p class="mb-0">Copyright © 2024-2025 <a href="https://ndtechland.com/">ND Tachland Pvt. Ltd.</a> All rights reserved.</p>
    </div>
</div>