@{
    var UserName = @User.Identity.Name;
}
<div>
    <div class="logo-wrapper">
        <span class="back">Back</span>
        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        <div class="toggle-sidebar">
            <i class="status_toggle middle sidebar-toggle" data-feather="grid">
            </i>
        </div>
    </div>
    <div class="logo-icon-wrapper">
        <a href="index.html">
            <img class="img-fluid"
                 src="../assets/images/logo/logo-icon.png" alt="">
        </a>
    </div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn">
                    <a href="index.html">
                        <img class="img-fluid"
                             src="../assets/images/logo/logo-icon.png" alt="">
                    </a>
                    <div class="mobile-back text-end">
                        <span>Back</span><i class="fa fa-angle-right ps-2"
                                            aria-hidden="true"></i>
                    </div>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav"
                       href="/Admin/Dashboard"><i data-feather="home"> </i><span>Dashboard</span></a>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="#">
                        <i data-feather="navigation"></i><span>Cab</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="all-cars.html">All Cars</a></li>
                        <li><a href="cars-detail.html">Cars's Details </a></li>

                        <li><a href="add-new-cars.html">Add New Cars</a></li>
                        <li><a href="all-drivers.html">All Drivers</a></li>
                        <li><a href="add-driver.html">Add Drivers</a></li>
                    </ul>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav"
                       href="booking.html"><i data-feather="bookmark"> </i><span>Booking</span></a>
                </li>
            </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
</div>